footer
	.footer-container
		.foooter-site-logo
			img(src='Img/logo_white.png' alt='Logo').logo
			p.shop-name YourShop
		.footer-columns
			.footer-column.first
				h3 ПОДРОБНЕЕ
				p Этот сайт - пробный макет для обучения стеку MERN
				p Сайт учебный. Пожалуйста, не оставляйте на сайте никакую личную информацию
			.footer-column.information
				h3 ИНФОРМАЦИЯ
				ul
					li О нас
					li Часто задаваемые вопросы
					li Партнеры
					li Вакансии
			.footer-column.contacts.last
				h3 КОНТАКТЫ
				ul
					li.phone +7 (XXX) XX-XX-XX
					li.email
						a(href='mailto:yourshop@mail.mail') yourshop@mail.mail
					li.map
						a(href='geo:59.931237,30.360293') Санкт-Петербург,<br> Невский пр-т
		hr
		.social-media-container
			a(href='https://instagram.com/' target="_blank")
				img(src='Img/Instagram.svg' alt='Instagram logo').icon
			a(href='https://facebook.com/' target="_blank")
				img(src='Img/Facebook.svg' alt='Facebook logo').icon
			a(href='https://tiktok.com/' target="_blank")
				img(src='Img/TikTok.svg' alt='TikTok logo').icon
			a(href='https://twitter.com/' target="_blank")
				img(src='Img/Twitter.svg' alt='Twitter logo').icon
			a(href='https://vk.com/' target="_blank")
				img(src='Img/VK.svg' alt='VK logo').icon
		p.copyrights Created and designed by&nbsp;
			a(href='https://pashabezk.github.io/MainPage/' target="_blank") pashabezk
