header
	.header-top
		.header-top-column.left
			img(src='Img/logo.png' alt='Logo').logo
			p.shop-name YourShop
		.header-top-column.right
			.search-box
				input(type='search' placeholder='Поиск по магазину...' name='site_search').search-field
				img(src='Img/search.png' alt='Search').icon-search
			.header-buttons-container
				.header-button
					img(src='Img/user.png' alt='User').header-button-icon
					span Войти
				.header-button.last
					img(src='Img/shopping_bag.png' alt='Cart').header-button-icon
					span Корзина

	.header-nav
		nav.navbar
			ul
				li
					a(href="/") Главная
				li
					a(href="contact") Контакты
				li
					a(href="contact") Контакты
				li
					a(href="contact") Контакты
				li
					a(href="contact") Контакты
				li
					a(href="contact") Контакты